$darkcolor:#0004;
$darkcolor2:#111319;
::-webkit-scrollbar {
    width: 17px;
    background: #202020;

}
 
::-webkit-scrollbar-track {

    background: #202020;
}
 
::-webkit-scrollbar-thumb {

    background: #0004;
    width: 17px;
}
.nofiti__content::-webkit-scrollbar-thumb
{
    background: #202020;
}
