* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #111319;
}

.header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  background: #0004;
  padding: 10px;
  overflow: hidden;
}

.header .header__logo img {
  width: 200px;
  margin-top: 3px;
}

.header .header__nav {
  text-align: right;
}

.header .header__nav li {
  list-style: none;
  display: inline-block;
  line-height: 30px;
  margin-top: 15px;
  font-size: 20px;
  margin-right: 15px;
  margin-left: 15px;
  color: #fff;
  cursor: pointer;
}

.header .header__nav li.menu__padding {
  padding-right: 15px;
}

.swiper {
  height: 115vh;
  margin-top: -80px;
  overflow: hidden;
}

.swiper .swiper-slide {
  background: -webkit-gradient(linear, right top, left top, from(#0004), to(#111319)), url("hawk.jpg");
  background: linear-gradient(right, #0004, #111319), url("hawk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper .swiper-slide .swiper__info {
  margin-top: 200px;
  padding: 10px;
}

.swiper .swiper-slide .swiper__heading {
  color: #fff;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  margin-bottom: 12px;
}

.swiper .swiper-slide .swiper__about {
  color: #fff;
  line-height: 25px;
  opacity: 0.4;
  margin-bottom: 20px;
}

.swiper .swiper-slide .swiper__img {
  text-align: right;
}

.swiper .swiper-slide .swiper__img img {
  width: 300px;
  margin-top: 100px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 16px;
}

.swiper .swiper-slide .swiper__nav li {
  display: inline-block;
  background: #111319;
  padding: 12px 14px;
  color: #fff;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.swiper .swiper-slide .swiper__nav li:hover {
  background: #000;
}

.swiper .swiper-slide .swiper__nav li i {
  margin-right: 10px;
}

.swiper .swiper-slide-2 {
  background: -webkit-gradient(linear, right top, left top, from(#0004), to(#111319)), url("matrix.jpg");
  background: linear-gradient(right, #0004, #111319), url("matrix.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.swiper .swiper-slide-3 {
  background: -webkit-gradient(linear, right top, left top, from(#0004), to(#111319)), url("ourbelove2.jpg");
  background: linear-gradient(right, #0004, #111319), url("ourbelove2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.swiper .swiper-slide-4 {
  background: -webkit-gradient(linear, right top, left top, from(#0004), to(#111319)), url("acrane.jpg");
  background: linear-gradient(right, #0004, #111319), url("acrane.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.swiper .swiper-slide-5 {
  background: -webkit-gradient(linear, right top, left top, from(#0004), to(#111319)), url("whatif.jpg");
  background: linear-gradient(right, #0004, #111319), url("whatif.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.swiper .swiper-slide-6 {
  background: -webkit-gradient(linear, right top, left top, from(#0004), to(#111319)), url("encour2.jpg");
  background: linear-gradient(right, #0004, #111319), url("encour2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.content {
  height: auto;
  overflow: hidden;
  margin-bottom: 80px;
  background: #111319;
}

.content .swiper__heading {
  padding: 10px;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 60px;
  font-weight: 700;
  font-size: 22px;
  margin-left: 18px;
}

.content .swiper__icon i {
  color: #fff;
}

.content .sub__swiper {
  height: 300px;
  padding: 10px;
  padding-right: 20px;
  cursor: pointer;
  margin-top: 0px;
  position: relative;
}

.content .sub__swiper .swiper-sub-slide {
  background: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .sub__swiper .swiper-sub-slide:hover img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.4;
}

.content .sub__swiper .swiper-sub-slide img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.content .swiper-pagination {
  color: #fff;
}

.content .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .content .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #fff;
  margin-top: 100px;
  outline: none;
  outline: none;
  border: none;
}

.content .swiper-button-next:after, .content .swiper-button-prev:after {
  font-size: 40px;
  font-weight: 700;
}

.content .swiper-button-prev {
  color: #fff;
  outline: none;
  outline: none;
  border: none;
}

.content .swiper-button-next {
  color: #fff;
  outline: none;
  border: none;
}

.BgColour {
  color: black;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #000;
}

.footer {
  height: 60px;
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.footer .author {
  margin-left: 10px;
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 10px;
}

.footer .footer__nav {
  text-align: right;
}

.footer .footer__nav li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
  margin-right: 15px;
  margin-top: 10px;
}

.footer .footer__nav li a {
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  cursor: pointer;
}

.modal .modal__content {
  background: #111319;
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fadeIn  0.4s ease-in-out;
          animation: fadeIn  0.4s ease-in-out;
}

.modal .modal__nav li {
  color: #fff;
  margin-bottom: 40px;
  list-style: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.modal .modal__nav li i {
  margin-right: 10px;
}

.modal .modal__nav li:hover .changecolor {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  color: #fb0007;
}

.modal .modal__nav li .changecolor {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-left: 10px;
}

.modal.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  background: #0004;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-animation: fadeIn  0.4s ease-in-out;
          animation: fadeIn  0.4s ease-in-out;
  display: none;
}

.modal__background.open2 {
  display: block;
  opacity: 1;
}

.modal__search.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */